:root{
  --bg-primary:#000000;
  --bg-secondary:linear-gradient(139deg, rgba(255, 255, 255, 0.20) -6.39%, rgba(255, 255, 255, 0.06) 112.17%);
  backdrop-filter: blur(5px);
  --text-light:#ffffff;
  --text-subtitle: rgba(255,255,255, 0.5);
  --yellow:#F7FC0E;
  --gradient: linear-gradient(#E025CE, #4AED52, #BD24E6);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--text-light);
}

body{
  background: var(--bg-primary);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


