:root {
  --bg-primary: #000000;
  --bg-secondary: linear-gradient(
    139deg,
    rgba(255, 255, 255, 0.2) -6.39%,
    rgba(255, 255, 255, 0.06) 112.17%
  );
  backdrop-filter: blur(5px);
  --text-light: #ffffff;
  --text-subtitle: rgba(255, 255, 255, 0.5);
  --yellow: #f7fc0e;
  --gradient: linear-gradient(#e025ce, #4aed52, #bd24e6);
  --pink: #e025ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-light);
}

body {
  background: var(--bg-primary);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
