.colecionadores-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
margin-bottom: 32px;
  padding-bottom: 24px;
  border-bottom:1px solid var(--border);
}



.colecionadores-info{
  display: grid;
  grid-template-columns: 1fr 140px 140px 140px;
  grid-template-areas:
  "profile volume piso items"
;
}

.profile img{
  width: 48px;
}

.volume h3,
.volume-lista,
.piso h3,
.piso-lista,
.items h3,
.items-lista{
  text-align: right;
  margin-bottom: 32px;
}

.profile{
  grid-area: profile;
}
.profile-lista,
.piso-lista,
.items-lista{
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.profile-lista li{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.profile-lista li > span{
  margin: 0 22px;
}


.volume{
  grid-area: volume;
}
.volume-lista{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.volume-lista li > span,
.piso-lista li > span{
  color: var(--yellow);
}


.piso{
  grid-area: piso;
}


.items{
  grid-area: items;
}

@media(max-width:700px){
  .colecionadores-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "profile volume"
    "piso items"
  ;
  justify-items: center;
}
.volume h3,
.volume-lista,
.piso h3,
.piso-lista,
.items h3,
.items-lista{
  text-align: left;
  margin-bottom: 100px;
}
}

