.container{
  max-width: 1300px;
 padding: 10px 20px;
  margin-left: auto;
  margin-right: auto; 

}
.botao{
  display: inline-block;
  color: #030303;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 16px 63px;
  background-color: var(--yellow);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
