.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.main-text h1 {
  font-size: 3.5rem;
  margin-bottom: 24px;
}
.main-text > h1 > span {
  color: var(--yellow);
}

.main-text p {
  max-width: 50ch;
  margin-bottom: 24px;
}

.main-nft {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 592px;
  height: 481px;
  background: url('../../../../img/bg/background-topo.png');
  background-size: cover;
  position: relative;
}


.main-nft > img {
  left: 15%;
  width: 400px;
  position: absolute;
  top:-50px
}

.main-nft > .nft-decription{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
  background: var(--bg-secondary);
}
.nft-info{
display: flex;
flex-direction: column;
}

.nft-info h2{
  font-size: 1.25rem;
  font-weight: 700;
}
.nft-info > p{
  font-size: 1rem;
  color: var(--text-subtitle);
  margin-bottom: 8px;
}

.nft-info span{
  display: flex;
}



.nft-info > span > img {
  width: 40px;
  height: 40px;
}

@media(max-width:1200px){
  .main-section {
    flex-wrap: wrap;
    justify-content: center;
  }
 .main-text{
  margin-bottom: 62px;
 }
}

@media(max-width:700px){
  .main-section{
    margin-bottom: 40px;
  }
  .header-menu{
    display: none;
  }
  .main-nft{
    display: none;
  }
  .main-text > a{
    width: 100%;
    text-align: center;
  }
  .main-text h1 {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }
}
